.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 1rem;
    .card {
        flex: 1;
        margin: 0 0.5rem;
        padding: 0.5rem;
        text-align: center;
        box-sizing: content-box;
        border-radius: 2rem;
        .cont {
            border-radius: 1.75rem;
            background-color: #ffffff;
            padding: 1rem;
        }
        &:nth-child(1) {
            background-color: #ffc200;
            margin-left: 0;
            background: rgb(255, 194, 0);
            background: -moz-linear-gradient(155deg, rgba(255, 194, 0, 1) 0%, rgba(247, 109, 55, 1) 100%);
            background: -webkit-linear-gradient(155deg, rgba(255, 194, 0, 1) 0%, rgba(247, 109, 55, 1) 100%);
            background: linear-gradient(155deg, rgba(255, 194, 0, 1) 0%, rgba(247, 109, 55, 1) 100%);
        }
        &:nth-child(2) {
            background: rgb(247, 109, 55);
            background: -moz-linear-gradient(155deg, rgba(247, 109, 55, 1) 0%, rgba(206, 36, 61, 1) 100%);
            background: -webkit-linear-gradient(155deg, rgba(247, 109, 55, 1) 0%, rgba(206, 36, 61, 1) 100%);
            background: linear-gradient(155deg, rgba(247, 109, 55, 1) 0%, rgba(206, 36, 61, 1) 100%);
        }
        &:nth-child(3) {
            background: rgb(0, 173, 232);
            background: -moz-linear-gradient(155deg, rgba(0, 173, 232, 1) 0%, rgba(0, 79, 232, 1) 100%);
            background: -webkit-linear-gradient(155deg, rgba(0, 173, 232, 1) 0%, rgba(0, 79, 232, 1) 100%);
            background: linear-gradient(155deg, rgba(0, 173, 232, 1) 0%, rgba(0, 79, 232, 1) 100%);
        }
        &:nth-child(4) {
            margin-right: 0;
            background: rgb(206, 36, 61);
            background: -moz-linear-gradient(155deg, rgba(206, 36, 61, 1) 0%, rgba(157, 13, 34, 1) 100%);
            background: -webkit-linear-gradient(155deg, rgba(206, 36, 61, 1) 0%, rgba(157, 13, 34, 1) 100%);
            background: linear-gradient(155deg, rgba(206, 36, 61, 1) 0%, rgba(157, 13, 34, 1) 100%);
        }
        .img {
            display: block;
            margin-bottom: 2rem;
            border-radius: 100%;
            width: 120px;
            margin: 0 auto;
            overflow: hidden;
        }
        p {
            color: #252525;
        }
        .cta {
            width: 100%;
            text-align: center;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
        }
    }
    &.one-two {
        .card {
            &:nth-child(1) {
                flex: 1.5;
            }
            &:nth-child(2) {
                flex: 2;
            }
        }
    }
}

// 3D CARD animation
.card-wrapper {
    transform-style: preserve-3d;
    margin: 0 auto;
    width: 250px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.card-wrapper:after {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    display: block;
    content: '';
    height: 22px;
    width: 100%;
    background: url('http://www.kikk.be/2015/files/templates/kikk2015/public/assets/images/floating-card-shadow.png') no-repeat;
    background-size: 100%;
}

.card-wrapper.red-box {
    .block {
        background: red;
    }
}

.block {
    height: 100%;
    width: 100%;
    // background: url(https://desktopography.net/wp-content/uploads/bfi_thumb/ALONE-34re7d3h27texnipm6f0u8.jpg) no-repeat center top;
    position: relative;
    border-radius: 12px;
    background: rgb(0, 0, 161);
    box-shadow: 1px, 2px;
    // box-shadow: -19px 20px 20px 0px #898989;
}

.content {
    transform: translateZ(80px) scale(1);
    -webkit-transform: translateZ(80px) scale(1);
    height: 360px;
    width: 210px;
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 20px;
    color: #fff;
    z-index: 3;
    p {
        color: #fff;
    }
}

.content2 {
    transform: translateZ(40px) scale(1);
    -webkit-transform: translateZ(40px) scale(1);
    background: #7723ff;
    opacity: 0.4;
    left: -80px;
    padding: 0;
    z-index: 2;
    display: none;
}

.content p:nth-of-type(1) {
    font-size: 36px;
}

.content p:nth-of-type(2) {
    position: absolute;
    bottom: 0px;
}

.section-wave-container {
    height: 100px;
    position: absolute;
    width: 100%;
    &.top {
        transform: scaleY(-1);
        top: 0;
    }
    &.bottom {
        bottom: 0;
    }
    .wave {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        &.top {
            top: -5;
            z-index: 2;
        }
        &.bottom {
            bottom: -5;
            z-index: 2;
        }
        path {
            stroke: rgb(145, 145, 145);
        }
    }
    .wave+.wave {
        z-index: 2;
    }
}

@media only screen and (max-width: $mobile-width) {
    .cards {
        flex-direction: column;
    }
    .card-wrapper {
        transform-style: preserve-3d;
        margin: 0 auto;
        width: 250px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        .block {
            width: 100%;
            height: auto;
            height: 100%;
            position: relative;
            border-radius: 12px;
            background: rgb(255, 200, 0);
            box-shadow: 1px, 2px;
        }
    }
}