.carousel-caption-container {
    position: relative;
    z-index: 9;
    color: inherit;
    text-align: left;
    overflow: hidden;
    height: 100%;
}

.caption-inner {
    position: relative;
    background: #fff;
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.caption-inner .caption-content-type {
    margin-top: 0;
    font-size: 16px;
    color: #33cc99;
    padding-bottom: 5px;
}

.caption-inner h1 {
    margin-top: 0;
    font-size: 26px;
    padding-bottom: 18px;
}

.caption-inner p {
    font-size: 16px;
    line-height: 28px;
    color: #7c7c7c;
}

.caption-inner a.read-more {
    font-weight: 600;
    color: #000;
    font-size: 1.4rem;
    display: block;
    padding: 10px 0 20px 0;
}

.carousel-control {
    height: 40px;
    width: 46px;
    position: absolute;
    top: auto;
    bottom: 15px;
    text-align: center;
}

.active-item-count {
    color: #333;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    color: rgba(0, 0, 0, 0.45);
    opacity: 1;
    text-shadow: none;
    z-index: 999;
}

.carousel-control img {
    width: 30px;
}

.carousel-control.right {
    padding: 0;
    right: 20px;
}

.carousel-control.left {
    padding: 0;
    left: auto;
    right: 60px;
}

.carousel-control.right i,
.carousel-control.left i {
    font-size: 18px;
}

.carousel-control:focus,
.carousel-control:hover {
    color: #000;
    text-decoration: none;
}

@media (min-width: 320px) {
    .hero {
        overflow: hidden;
    }
    .hero-cover {
        background: #49c5b1;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 111111;
    }
    .hero,
    .slide,
    .slide img,
    .carousel-caption-container {
        min-height: 90vh;
    }
    .carousel-caption-container {
        position: relative;
        width: 100%;
        align-items: center;
        justify-content: center;
        top: 0;
        bottom: 0;
        height: 100%;
        /* start status */
    }
    .caption-inner {
        width: 100%;
        margin: 25px;
    }
    .caption-inner p {
        font-size: 16px;
        line-height: 1.4;
    }
    .caption-div {
        padding: 35px 35px 60px 35px;
    }
    .item-count {
        color: #ccc;
        position: absolute;
        bottom: 30px;
        left: 35px;
        font-size: 11px;
        overflow: hidden;
    }
    .active-item-count {
        position: relative;
        width: 50px !important;
        overflow: hidden;
    }
    .active-item-count .slideNum {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
    }
    .total-item-count {
        padding-left: 15px;
        overflow: hidden;
    }
}

@media (min-width: 767px) {
    .carousel-caption-container {
        position: relative;
        width: 100%;
        align-items: flex-end;
        justify-content: center;
        top: 0;
        bottom: 0;
        /* start status */
    }
    .caption-inner p {
        font-size: 16px;
        line-height: 1.8;
    }
    .caption-inner {
        width: 100%;
        margin: 50px;
    }
    .caption-div {
        padding: 35px;
    }
    .carousel-indicators {
        padding-left: 35px 35px 50px 35px;
        bottom: 25px;
    }
    .item-count {
        color: #ccc;
        position: absolute;
        bottom: 30px;
        left: 55px;
        font-size: 11px;
    }
}

@media (min-width: 960px) {
    .carousel-caption-container {
        position: absolute;
        width: 550px;
        align-items: center;
        justify-content: center;
        left: 5%;
        top: 0;
        bottom: 0;
    }
    .caption-inner {
        width: 100%;
        margin: 0;
    }
    .caption-div {
        padding: 75px 75px 90px 75px;
    }
}

@media (min-width: 1100px) {
    .hero,
    .slide,
    .slide img {
        min-height: 100vh;
    }
    .carousel-caption-container {
        width: 500px;
        align-items: center;
        justify-content: center;
        left: 10%;
        top: 0;
        bottom: 0;
    }
    .caption-inner {
        width: 100%;
    }
    .caption-div {
        padding: 75px 75px 90px 75px;
    }
}

@media (min-width: 1600px) {
    .caption-inner {
        width: 100%;
    }
    .caption-div {
        padding: 55px 55px 90px 55px;
    }
    .carousel-caption-container {
        min-width: 500px;
        align-items: center;
        justify-content: center;
        left: 10%;
    }
}

@media (min-width: 1440px) {}

#gs-slideshow {
    position: relative;
}

.slide.active {
    z-index: 0;
}

.slide {
    width: 100%;
    position: absolute;
    height: 70vh;
    overflow: hidden;
    z-index: 1;
    transform: translatez(0);
    -webkit-transform: translatez(0);
}

.slide-image,
.caption-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.slide-image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slide-image img {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 101%;
    min-height: 101%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

.caption-div * {
    overflow: hidden;
}

.u-absoluteCenter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.u-flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.u-offscreen {
    position: absolute;
    left: -999em;
}

.demo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.demo :first-child {
    margin-bottom: 20px;
}

.progress {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    background: transparent;
}

.progress__meter,
.progress__value {
    fill: none;
}

.progress__meter {
    stroke: #e6e6e6;
}

.progress__value {
    stroke: #49c5b1;
    stroke-linecap: round;
}