    main {
        // margin-top: 76px;
        // background: #ebebeb;
        @media only screen and (max-width: $mobile-width) {
            margin-top: 0px;
        }
    }
    
    .container {
        max-width: 1080px;
        margin: 0 auto;
    }
    
    section {
        padding: 2rem 0px;
        min-height: 100vh;
        width: 100%;
        // width: 100vw;
        position: relative;
        max-width: 1080px;
        margin: 0 auto;
        border-bottom: 1px solid #ccc;
        &.full {
            max-width: 100%;
            width: 100%;
            overflow: hidden;
        }
        &.auto-height {
            height: auto;
            min-height: auto;
        }
        .sec-head {
            margin: 0.5rem 0rem 2rem;
        }
        @media only screen and (max-width: 768px) {
            min-height: auto;
            padding: 2rem;
        }
        @media only screen and (max-width: $mobile-width) {
            min-height: auto;
            padding: 1rem;
        }
    }
    
    .no-pad {
        padding: 0px;
    }
    
    .loader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        color: white;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        >div {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
        h1 {
            font-size: 18px;
            margin-bottom: 0px;
        }
        .loader--text {}
    }
    
    @media only screen and (max-width: 768px) {
        html {
            font-size: 14px;
        }
    }
    
    @media only screen and (max-width: $mobile-width) {
        html {
            font-size: 12px;
        }
    }